app = "simplex-solver-frontend"
primary_region = "sjc"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
[env]
  BACKEND_URL = "https://simplex-solver-backend.fly.dev"